* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', 'sans-serif';
	box-sizing: border-box;
}

.container {
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(115deg, #caf0f8, #00B4D8); 
	padding: 10px;
}

.todo-list {
	width: 100%;
	max-width: 540px;
	background: white;
	margin: 100px auto 20px;
	padding: 40px 30px 70px;
	border-radius: 10px;
}

.todo-list h2 {
	color: #000;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.todo-list img {
	width: 40px;
	margin-left: 10px;
}

.user-input {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #e0e0e0;
	border-radius: 30px;
	padding-left: 20px;
	margin-bottom: 25px;
}
input {
	flex: 1;
	border: none;
	outline: none;
	background: transparent;
	padding: 10px;
}

button {
	border: none;
	outline: none;
	background: #FB8500;
	border-radius: 30px;
	padding: 16px 50px;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	
}